
<tr>
  <td><%= link_to request.id, request_path(request.id)%></td>
  <td><%= request.name %></td>
  <td><%= subject(request.subject) %></td>
  <td><%= request.client_id %></td>
  <td><%= color_stat(request.stat) %></td>
  <td><%= request.created_at %></td>
  <td><%= request.last_active %></td>
  </tr>
