
<tr>
  <td><%= link_to request.id, request_path(request.id)%></td>
  <td><%= request.name %></td>
  <td><%= request.subject %></td>
  <td><%= request.client_id %></td>
  <td><%= request.phone %></td>
  <td><%= request.email %></td>
  <td><%= request.stat %></td>
  <td><%= request.created_at %></td>
  <td><%# request.last_comment %></td>
  </tr>
