<div >
  <%= @massage%>
</div>
<%= form_tag find_request_path, method: :get do %>
  <%= text_field_tag :id %>
  <%= text_field_tag :token %>
  <%= submit_tag 'Переглянути' %>
<% end %>
<%= link_to "Створити заявку", new_request_path%>
